body,html{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}
body{
    background-color: #FFFFFF;
}
.sidebarHeader{
    background-color: #4968AD;
    height: 100%;
}
.sidebarProPic{
    width: 100px;
    hieght: 100px;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    float: left;
    margin-left: 20px;
}
.sidebarBG{
    width: 100%;
    height: 1000px;
    background-color: #4968AD;
}
.centerProPic{
    width: 75px;
    hieght: 75px;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    float: left;
    margin-left: 20px;
}
.centerSocialMediaIcons{
    height: 40px;
    width: 40px;
}
.centerRightCol{
    float: right;
}
.centerHeader{
    background-color: #D3D3D3;
}
.messageContent{
    background-color: #FFFFFF;
    width: 100%;
    height: 715px;
}